body {
    background-color: rgb(77, 118, 72);
    padding: 0;
    margin: 0;
}

nav{
    overflow: hidden;
    background-color: black;

    height: 70px;
}

nav a{
    color: white;
    display: block;
   
}

nav a:hover{
    background: white;
    color: black;
    display: block;
}

nav .retour:hover{
    background: rgb(206, 34, 34);
    color: black;
    display: block;
}

