body{
    font-family: Arial, sans-serif;
    background-color: #fff;
    padding: 0%;
    margin: 0%;
}

/*manu*/
.menu{
  display: none;
}

nav input[type= checkbox]:checked ~ ul{
  display: block;
} 

@media screen and (max-width:680px) {
  .menu{
    display: block;
    color: #fff;
    background-color: rgba(255, 248, 220, 0);
    text-align: center;
    padding: 12px 0;
  }

  nav ul {
    display: none;
    margin: 0;
    padding: 0;
  }

  nav li{
    float: center;
    margin: auto;
    padding: O;
    background-color: black;
  }

}



/*--Navbar Style--*/
nav{
  overflow: hidden;
  background-color: black;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

nav li{
  float: left;
  margin: auto;
  padding: O;
  background-color: black;
}

nav li a{
  display: block;
  width: 150px;
  color: white;
  text-decoration: none;
  padding: 15px;
}

nav li a:hover{
  background-color: rgb(40, 50, 109);
  border-top:5px solid rgb(18, 31, 80);
}

nav ul li ul{
  display: none;
}

nav ul li:hover ul{
  display: block;
}

nav li:hover ul li{
  float:none;
}

nav li ul{
  position: absolute;
}

.submenu li:hover a{
  border-top:Opx solid black;
  color: white;
  font-weight: bold;
  border-top:0px solid black;
  background-color: rgb(40, 50, 109);
}

.submenu li{
  background-color: rgb(33, 58, 109);
}

/*-- H1 Style (Mael Nialon)--*/
h1{
  text-align: center;
  padding: 1%;
}




